
<h2>關於 maxBibleReader:</h2>

<p>
	maxBibleReader以致力推動聖經閲讀，幫助信徒生命，教會建造為使命。maxBibleReader所推出的聖經閲讀，以主題式聖經閲讀為重點。
	歡迎讀者對各樣閲讀意見，不吝賜教。
</p>

<h3>什麼是主題式聖經閲讀？</h3>

<p>
<ol>
	<li>主題式聖經閲讀不是斷章取義，隨意地將不同地方的經文組合起來的聖經閲讀。</li>
	<li>主題式聖經閲讀乃是以書卷為基礎，將經文組成有關聯性的段落。</li>
	<li>對於整本聖經，主題式聖經閲讀根據時間次序，分成12個主題的閲讀，將相關書卷整合在一起。例如出埃及記和利未記關於律法，禮儀，民事的部分整合起來，將舊約歷史書和先知書按照時間整合分段，將四卷福音書整合起來，將使徒行傳和部分保羅書信整合起來等。</li>
	<li>主題式聖經閲讀也可以小範圍來操作。例如，關於末世的主題，我們可以以啓示錄為主，整合但以理書和其他先知書，四福音書耶穌對末世的預言，和帖撒羅尼迦書等一起來讀。</li>
</ol>
</p>

	了解了什麼是主題式聖經閲讀，如果讀者中間也願意分享自己的讀經領受，也非常歡迎聯係，你可以使用我們提供的工具，將你的領受分享成爲多人的祝福。
</p>

<p>
	聯係我們：dr.max.liu@gmail.com
</p>
