<div class="container-fluid">

	<div class="row-fluid">

		<ul class="nav pull-right">
			打開讀經新頁面： 
			
				<%= link_to  "書卷讀經", book_verse_path %> | 
				<%= link_to  "主題讀經", topic_verse_path %> | 過去閲讀
		</ul>
	</div>

	<div class="row-fluid">
			<div class="span3">
			 聖經書卷： <span class="badge badge-important">新約</span> <span class="badge badge-warning">四福音書</span>
			 <h3>約翰福音</h3> 
			</div>
			<div class="span3">
				經文 <span class="badge badge-info">6.2</span>-<span class="badge badge-info">6.15</span>
				<h3>五餅二魚</h3>
			</div>
			<div class="span4">
			</div>
			<div class="span2">
				<div class="btn-group">
						<p></p>
						<button class="btn">回到上段</button>
						<button class="btn-inverse">閲讀下段</button>
					</div>
			</div>
	</div>

	<hr class="featurette-divider">

	<div class="row-fluid">

	  <div class="span3">
	  	<div class="well sidebar-nav">

	  		<button type="button" class="btn btn-block btn-primary">
				<h3>聖經目錄</h3>
				</button>
				<p></p>

				<table class="table table-hover">

	        <tbody>
	          <tr>
	            <td><span class="badge badge-warning">舊約</span></td>
	            <td><a href="#"><font color="#000000">律法書（摩西五經）</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-warning">舊約</span></td>
	            <td><a href="#"><font color="#000000">歷史書12卷</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-warning">舊約</span></td>
	            <td><a href="#"><font color="#000000">智慧與詩歌5卷</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-warning">舊約</span></td>
	            <td><a href="#"><font color="#000000">大先知書5卷</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-warning">舊約</span></td>
	            <td><a href="#"><font color="#000000">小先知書12卷</font></a></td>
	          </tr
	          <tr>
	            <td><span class="badge badge-info">新約</span></td>
	            <td><a href="#"><font color="#000000">四福音書</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">新約</span></td>
	            <td><a href="#"><font color="#000000">教會歷史</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">新約</span></td>
	            <td><a href="#"><font color="#000000">保羅書信</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">新約</span></td>
	            <td><a href="#"><font color="#000000">一般書信</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">新約</span></td>
	            <td><a href="#"><font color="#000000">啓示錄</font></a></td>
	          </tr>
	        </tbody>
	      </table>
			</div>

			<div class="well sidebar-nav">

				<p>聖經分部 <span class="badge badge-info">新約</span><h3>四福音書</h3> </p>

				<table class="table table-hover">

	        <tbody>
	          <tr>
	            <td><span class="badge badge-info">1</span></td>
	            <td><a href="#"><font color="#000000">馬太福音</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">2</span></td>
	            <td><a href="#"><font color="#000000">馬可福音</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">3</span></td>
	            <td><a href="#"><font color="#000000">路加福音</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-info">4</span></td>
	            <td><a href="#"><font color="#000000">約翰福音</font></a></td>
	          </tr>
	        </tbody>
	      </table>


			</div>

			<div class="well sidebar-nav">
	  		
	  		<p>書卷分段 <span class="badge badge-info">新約</span> 
	  			<span class="badge badge-info">四福音書</span>
	  			<h4>約翰福音</h4></p>

	  		<table class="table table-hover">

	        <tbody>
	          <tr>
	            <td><span class="badge badge-success">1:1-1:18</span></td>
	            <td><a href="#"><font color="#000000">道成肉身</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">1:19-1:28</span></td>
	            <td><a href="#"><font color="#000000">施洗約翰傳道</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">1:29-1:34</span></td>
	            <td><a href="#"><font color="#000000">耶穌受洗</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">1:35-1:51</span></td>
	            <td><a href="#"><font color="#000000">初召門徒</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">2:1-2:12</span></td>
	            <td><a href="#"><font color="#000000">迦拿的婚宴</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">2:13-2:25</span></td>
	            <td><a href="#"><font color="#000000">洁净圣殿</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">3:1-3:21</span></td>
	            <td><a href="#"><font color="#000000">与尼哥底母谈道</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">3:22-3:36</span></td>
	            <td><a href="#"><font color="#000000">约旦河边替人施洗</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">4:1-4:42</span></td>
	            <td><a href="#"><font color="#000000">撒玛利亚井边谈道</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">4:43-4:45</span></td>
	            <td><a href="#"><font color="#000000">施洗约翰下监</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">4:46-4:54</span></td>
	            <td><a href="#"><font color="#000000">医治大臣的儿子</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">5:1-5:18</span></td>
	            <td><a href="#"><font color="#000000">医治38年的摊子</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">5:19-5:47</span></td>
	            <td><a href="#"><font color="#000000">逾越节圣殿讲道</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">6:1-6:15</span></td>
	            <td><a href="#"><font color="#000000">五饼二鱼</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">6:16-6:21</span></td>
	            <td><a href="#"><font color="#000000">海面行走</font></a></td>
	          </tr>
	          <tr>
	            <td><span class="badge badge-success">6:22-6:71</span></td>
	            <td><a href="#"><font color="#000000">耶穌是生命的糧</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">7:1-7:52</span></td>
	            <td><a href="#"><font color="#000000">活水的江河</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">8:1-8:11</span></td>
	            <td><a href="#"><font color="#000000">行淫的妇人</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">8:12-8:30</span></td>
	            <td><a href="#"><font color="#000000">生命的光</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">8:31-8:47</span></td>
	            <td><a href="#"><font color="#000000">真理使人自由</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">8:48-8:59</span></td>
	            <td><a href="#"><font color="#000000">只求天父的荣耀</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">9:1-9:33</span></td>
	            <td><a href="#"><font color="#000000">治好生來瞎眼的</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">9:34-9:41</span></td>
	            <td><a href="#"><font color="#000000">靈裏的眼瞎</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">10:1-10:21</span></td>
	            <td><a href="#"><font color="#000000">好牧人</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">10:22-10:42</span></td>
	            <td><a href="#"><font color="#000000">耶穌與父合為一</font></a></td>
	          </tr>
	          <tr>
	          <td><span class="badge badge-success">11:1-11:54</span></td>
	            <td><a href="#"><font color="#000000">拉撒路復活</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">12:1-12:11</span></td>
	            <td><a href="#"><font color="#000000">瑪麗亞香膏抹主</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">12:12-12:19</span></td>
	            <td><a href="#"><font color="#000000">耶穌榮耀進城</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">12:20-12:36</span></td>
	            <td><a href="#"><font color="#000000">得榮耀的時候到了</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">12:37-12:50</span></td>
	            <td><a href="#"><font color="#000000">不信的將受審判</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">13:1-13:20</span></td>
	            <td><a href="#"><font color="#000000">為門徒洗腳</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">13:21-13:30</span></td>
	            <td><a href="#"><font color="#000000">預言猶大出賣</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">13:31-13:35</span></td>
	            <td><a href="#"><font color="#000000">愛的命令</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">13:36-13:38</span></td>
	            <td><a href="#"><font color="#000000">預言彼得三次不認主</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">14:1-14:14</span></td>
	            <td><a href="#"><font color="#000000">耶穌是道路真理生命</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">14:15-14:31</span></td>
	            <td><a href="#"><font color="#000000">聖靈寳惠師要來</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">15:1-15:17</span></td>
	            <td><a href="#"><font color="#000000">耶穌是真葡萄樹</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">15:18-16:33</span></td>
	            <td><a href="#"><font color="#000000">聖靈的工作</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">17:1-17:26</span></td>
	            <td><a href="#"><font color="#000000">為門徒禱告</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">18:1-18:40</span></td>
	            <td><a href="#"><font color="#000000">被抓受審</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">19:1-19:30</span></td>
	            <td><a href="#"><font color="#000000">被釘十字架</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">9:31-19:42</span></td>
	            <td><a href="#"><font color="#000000">安葬</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">20:1-20:29</span></td>
	            <td><a href="#"><font color="#000000">復活</font></a></td>
	          </tr>
	          <tr>
	          	<td><span class="badge badge-success">21:1-21:23</span></td>
	            <td><a href="#"><font color="#000000">你愛我嗎</font></a></td>
	          </tr>
	        </tbody>
	      </table>

			</div>

			<div class="well sidebar-nav">
				<img data-src="holder.js/280x600" alt="">
			</div>

	   </div><!--/span3-->

	  <div class="span9">

	  	<div class="row-fluid">
	  		<div class="span6">

			  	<div class="row-fluid">
			  		<div class="span4">
			  			<p>全本聖經進度：10%</p> 
			  			<div class="progress">
								<div class="bar bar-info" style="width: 10%;"></div>
							</div>
			  		</div>
			  		<div class="span4">
			  			<p>本書進度：30%</p> 
			  			<div class="progress">
								<div class="bar bar-warning" style="width: 30%;"></div>
							</div> 
			  		</div>
			  		<div class="span4">
			  			<p>本章進度：50%</p> 
			  			<div class="progress">
								<div class="bar bar" style="width: 50%;"></div>
							</div> 
			  		</div>
			  	</div><!--row-fluid-->

			  	<div class="row-fluid">
			  		<div class="span12">
				   		<h3>相關聖經經文:</h3>
				   		<span class="badge badge-success">馬太14:13-14:21</span> 
							<span class="badge badge-success">馬可6:30-6:34</span> 
							<span class="badge badge-success">路加9:10-9:17</span>
				   	</div>

				  </div>

				</div>

				<div class="span6">
					<div class="thumbnail">
	          <div class="caption">
	            <p>News:</p>
	            <p>News:</p>
	            <p>News:</p>
	            <p>News:</p>
	          </div>
	        </div>
	        <p></p>

			  </div>

			</div>

	    <hr class="featurette-divider">

	    <div class="row-fluid">

	      <div class="span6">

	        <button type="button" class="btn btn-block btn-success">和合本經文
					</button>
					<p></p>

					<button type="button" class="btn btn-primary">約翰福音
					</button>
					<p></p>
					<font color="#000000">
	      		<p><span class="badge badge-inverse">6:1</span>	这事以后，耶稣渡过加利利海，就是提比哩亚海。
						<span class="badge">6:2</span>	有许多人，因为看见他在病人身上所行的神迹，就跟随他。
						<span class="badge">6:3</span>	耶稣上了山，和门徒一同坐在那里。
						<span class="badge">6:4</span>	那时犹太人的逾越节近了。</p>

						<p><span class="badge badge-inverse">6:5</span>	耶稣举目看见许多人来，就对腓力说，我们从那里买饼叫这些人吃呢。
						<span class="badge">6:6</span>	他说这话，是要试验腓力。他自己原知道要怎样行。
						<span class="badge">6:7</span>	腓力回答说，就是二十两银子的饼，叫他们各人吃一点，也是不够的。
						<span class="badge">6:8</span>	有一个门徒，就是西门彼得的兄弟安得烈，对耶稣说，
						<span class="badge">6:9</span>	在这里有一个孩童，带着五个大麦饼，两条鱼。只是分给这许多人，还算什么呢？
						<span class="badge">6:10</span>	耶稣说，你们叫众人坐下。原来那地方的草多，众人就坐下。数目约有五千。</p>

						<p><span class="badge badge-inverse">6:11</span>	耶稣拿起饼来，祝谢了，就分给那坐着的人。分鱼也是这样，都随着他们所要的。
						<span class="badge">6:12</span>	他们吃饱了，耶稣对门徒说，把剩下的零碎，收拾起来，免得有糟蹋的。
						<span class="badge">6:13</span>	他们便将那五个大麦饼的零碎，就是众人剩下的，收拾起来，装满了十二个篮子。</p>

						<p><span class="badge badge-inverse">6:14</span>	众人看见耶稣所行的神迹。就说，这真是那要到世间来的先知。
						<span class="badge">6:15</span>	耶稣既知道众人要来强逼他作王，就独自又退到山上去了。</p>
					</font>

					<hr class="featurette-divider">
				</div>

				<div class="span6">

					<button type="button" class="btn btn-block btn-success">
						經文修正參考
					</button>
					<p></p>

					<button type="button" class="btn btn-primary">約翰福音
					</button>
					<p></p>
					<font color="#000000">
	      		<p><span class="badge badge-warning">6:1</span>	这事以后，耶稣渡过加利利海，就是提比哩亚海。
						<span class="badge">6:2</span>	有许多人，因为看见他在病人身上所行的神迹，就跟随他。
						<span class="badge">6:3</span>	耶稣上了山，和门徒一同坐在那里。
						<span class="badge">6:4</span>	那时犹太人的逾越节近了。</p>

						<p><span class="badge badge-warning">6:5</span>	耶稣举目看见许多人来，就对腓力说，我们从那里买饼叫这些人吃呢。
						<span class="badge">6:6</span>	他说这话，是要试验腓力。他自己原知道要怎样行。
						<span class="badge">6:7</span>	腓力回答说，就是二十两银子的饼，叫他们各人吃一点，也是不够的。
						<span class="badge">6:8</span>	有一个门徒，就是西门彼得的兄弟安得烈，对耶稣说，
						<span class="badge">6:9</span>	<font color="#FF0000">我</font>这里有一个孩童，<font color="#FF0000">他</font>带着五个大麦饼，两条鱼。<font color="#FF0000">但要</font>分给这许多人，<font color="#FF0000">實在太少了！</font>
						<span class="badge">6:10</span>	耶稣说，你们叫众人坐下。原来那地方的草多，众人就坐下。数目约有五千。</p>

						<p><span class="badge badge-warning">6:11</span>	耶稣拿起饼来，祝谢了，就分给那坐着的人。分鱼也是这样，都随着他们所要的。
						<span class="badge">6:12</span>	他们吃饱了，耶稣对门徒说，把剩下的零碎，收拾起来，免得有糟蹋的。
						<span class="badge">6:13</span>	他们便将那五个大麦饼的零碎，就是众人剩下的，收拾起来，装满了十二个篮子。</p>

						<p><span class="badge badge-warning">6:14</span>	众人看见耶稣所行的神迹。就说，这真是<font color="#FF0000">摩西曾經告訴我們</font>要到世间来，<font color="#FF0000">神所要興起像祂自己的那位</font>先知。<span class="badge badge-inverse">譯注1</span>	
						<span class="badge">6:15</span>	耶稣既知道众人要来强逼他作<font color="#FF0000">世界的</font>王，就独自又退<font color="#FF0000">避</font>到山上去了。</p>
					</font>

						<span class="badge badge-inverse">譯注1</span>	先知在這裡的原文是申命記18：14-19摩西所預言耶和華將要興起的先知。

					<hr class="featurette-divider">
				</div>
			</div>
			<div class="row-fluid">
	  		<div class="span12">
	  			<button type="button" class="btn btn-block btn-warning">
	        	經文註釋
	        </button>
	        <p></p>
	        <p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:1</button>提比利亞海就是加利利海。是希律大帝為討好羅馬皇帝提比利亞而改名。但猶太人大多數時候還是稱其為加利利海。</p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:2</button>
	        耶穌的事工，特別是醫治，帶給許多在苦難中的猶太人盼望，因此愈來愈多人跟隨耶穌。隨之而來的是工作繁重，體力付出過多。
	        他們悄悄地離開坐船，是爲了避開群衆的跟隨，沒法休息。
	        但衆人發現他們的行蹤，就快快追上。顯然衆人只看見自己的需要，不知道耶穌和他的門徒們事工已經很辛苦。
	        衆人從陸路過去當然要比坐船要路遠，但他們迫切需要耶穌的幫助，所以顧不了許多。他們的迫切從其中許多有病的就可以知道。
	        耶穌了解他們的迫切，所以當他下船看見衆人，就沒有拒絕他們，繼續服事他們。</p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:5-7</button>
	        服事的時間應該有一段時間，門徒等到天要黑了，真是不行了，請耶穌打發衆人散去。
	        但耶穌竟然憐憫衆人沒有吃飯，不允。還要門徒找吃的給他們。耶穌詢問腓力，因爲他是伯賽大人，他可能知道哪裏有買吃的。但他對耶穌的要求真是無法理解，這要花多少錢？20兩銀子約當時半年的工資。</p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:8-10</button>安德烈的回應可能只是一個玩笑話。沒想到耶穌當真，拿起五餅二魚叫衆人坐下（耶穌再一次顯明他對衆人的憐憫之心）。</p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:11</button>衆人顯然沒有為吃爭先恐後，安靜坐下。顯然他們心受感動，也可能比門徒更有信心，知道耶穌會喂飽他們。
	        耶穌祝禱擘开餅分給衆人，是預表一年后他將用自己的身體為衆人而死。</p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:12-13</button>
	        人數如果加上婦女和孩子，應超過万人。雖然是用五餅二魚，但耶穌才是真正供應的源頭。剩餘12籃，表明神的恩典夠用，而且超乎所求。</p>

	        <p><button type="button" class="btn btn-mini btn-info">約6:14-15</button>
	        衆人看出耶穌是彌賽亞。但他們對耶穌的期望還停留在地上的國，只希望耶穌做他們地上的王。耶穌當然拒絕，因爲耶穌他降世的目的是要拯救世人脫離罪，做全人類的救主。</p>

	  			<div align="middle">
	  				<p></p>
						<button type="button" class="btn btn-primary"><i class="icon-file icon-white"></i>記住本段讀經
						</button> 
	  				<a class="btn btn-primary" href="#"><i class="icon-star icon-white"></i>按此完成本段閲讀</a>
	  			</div>
	  		</div>
	  	</div>
	    <hr class="featurette-divider">

	    <div class="row-fluid"><!--/.3 column topic descriptions -->

	      <div class="span4">
	      	<button type="button" class="btn btn-block btn-danger">
					經文内容摘要
					</button>
					<p></p>
					<p><span class="badge badge-inverse">故事背景</span>	羅馬統治下的以色列人生活困苦流離，百姓在心靈上和生活上都需要迫切幫助。分封的希律王殘暴，不久前殺了施洗約翰。雖然如此，耶穌差遣門徒各處傳道，醫治病人。</p>
					<p><span class="badge badge-inverse">故事時間</span>	春天，快要過逾越節了。距離耶穌上十字架的最後晚餐約一年。</p>
					<p><span class="badge badge-inverse">故事地點</span>	加利利海東邊的野地。</p>
					<p><span class="badge badge-inverse">主要人物</span>	耶穌，12門徒，一個孩童，和衆人。</p>
					<p><span class="badge badge-inverse">主要内容</span>	
						<span class="badge badge-warning">1</span> 耶穌一方面聽見施洗約翰被殺，要避開在加利利的區的分封王希律，一方面看見12門徒傳道疲累，所以一起退避到加利利海東邊去休息。
						<span class="badge badge-warning">2</span> 但群眾知道后，又跑去追上他們，尋求幫助。
						<span class="badge badge-warning">3</span> 耶穌憐憫他們，沒有拒絕他們，就需對群衆講道，醫治他們中間生病的。
						<span class="badge badge-warning">4</span> 天色將黑，門徒主動請耶穌打發衆人散去。
						<span class="badge badge-warning">5</span> 但耶穌因擔心衆人沒有東西吃，不允。反而要求門徒腓力給他們食物吃。
						<span class="badge badge-warning">6</span> 腓力有怨言，認爲耶穌的要求不合理，這要花多少錢，何況在野地去哪買？
						<span class="badge badge-warning">7</span> 耶穌叫門徒去找找，看看有多少食物。
						<span class="badge badge-warning">7</span> 安德烈告訴有一個孩子有五餅二魚。
						<span class="badge badge-warning">8</span> 耶穌請衆人按次序坐下，禱告祝謝，分五餅二魚給衆人。
						<span class="badge badge-warning">9</span> 衆人都吃飽，除了妇女孩子，约有五千，食物還剩下12籃。
						<span class="badge badge-warning">10</span> 眾人認出耶穌是神所應許要來拯救他們的先知，因此強要耶穌做他們地上的王，脫離羅馬和希律王的殘酷統治。但耶穌拒絕，獨自退到山裏。
					</p>
	        
					<p></p>

	        <p><a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i>若以上<font color="FFFF88">摘要</font>有幫助，請按此</a></p>

	        <hr class="featurette-divider">

	        <p></p>

	        <button type="button" class="btn btn-block btn-inverse">
	        	寫下回應
	        </button>

	        <p></p>

					<div class="bs-docs-example">
	          <ul id="feedbackTab" class="nav nav-tabs">
	            <li class="active"><a href="#tab1c" data-toggle="tab">心得筆記</a></li>
	            <li><a href="#tab2c" data-toggle="tab">網站建議</a></li>
	          </ul>

	        	<span class="help-inline">題目：</span><input type="text">
	        	<p>筆記：</p>
	        	<textarea style="overflow:auto;resize:none" rows="20" cols="70">Hello!</textarea>

	          <div id="writeArea" class="tab-content">
	            <div class="tab-pane fade in active" id="tab1c">
	            	<p></p>
	            	<button class="btn btn-danger" type="button">網内分享</button>
	            	<button class="btn btn-warning" type="button">郵寄</button>
	        			<button class="btn btn-primary" type="button">自存</button>
	        			<button class="btn btn-inverse" type="button">取消</button>
	            </div>
	          	<div class="tab-pane fade" id="tab2c">
	            	<p></p>
	            	<button class="btn btn-warning" type="button">送出</button>
	        			<button class="btn btn-inverse" type="button">取消</button>
	            </div>
	        	</div>
	        </div>
	      </div><!--/span-->

	      <div class="span4">
	        <button type="button" class="btn btn-block btn-danger">
	        	經文思想
	        </button>
	        <p></p>

	        <p><span class="badge badge-inverse">1</span>	耶穌對眾人充滿憐憫的心腸。但衆人不知道，連門徒也不知道。我們對常常要求牧師要做這個要做那個，但我們能體會他們因愛神的緣故，為我們辛勞的付出嗎？是不是反而常常埋怨呢？</p>
	        <p><span class="badge badge-inverse">2</span> 如果能體會，我會如何回應？</p>
	        <p><span class="badge badge-inverse">3</span> 門徒對耶穌要求他們把食物分給衆人很不高興。他們或許信心不夠認爲這太脫離現實了，或許太看重金錢，或許認爲這些衆人不可愛，不不值得關心他們到這個份上。我如果是門徒會如何反應？我的問題出在哪裏？</p>
	        <p><span class="badge badge-inverse">4</span> 為什麼在這麽多人的中間，只有這個小孩拿出了他的五餅二魚？這個事件對這孩子的將來有何影響？
	        <p><span class="badge badge-inverse">5</span>你是否盼望你的一點點付出讓耶穌放大万倍？但是在你自身非常有限的時候，你仍願意嗎？</p>
	        <p><span class="badge badge-inverse">6</span>耶穌在愈來愈多人跟隨他的時候，他拒絕他們要求他做王，反而有獨自退去，顯明耶穌沒有權利欲望。所以如果你是牧師，要如何警惕自己 ，不要在有愈來愈多會衆或事工愈做愈大時，忘記神起初的呼召，變得驕傲自大？如果你不是，檢查自己心中所追求的，是爲了自己還是出於無私的愛？</p>

	        <p><a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i>若以上<font color="FFFF88">思想問題</font>有幫助，請按此</a></p>

					<hr class="featurette-divider">

	        <p></p>
	        <button type="button" class="btn btn-block btn-inverse">
	           閲讀分享
	        </button>
	        <p></p>
					<div class="bs-docs-example">
	          <ul id="myTab2" class="nav nav-tabs">
	            <li class="active"><a href="#tab1a" data-toggle="tab">個人筆記</a></li>
	            <li><a href="#tab2a" data-toggle="tab">個人收藏</a></li>
	            <li><a href="#tab3a" data-toggle="tab">公共區域</a></li>
	          </ul>

	          <div id="myTabContent2" class="tab-content">
	            <div class="tab-pane fade in active" id="tab1a">
	            </div>
	          	<div class="tab-pane fade" id="tab2a">
	            	<button class="btn btn-info" type="button">加入收藏</button>
	            	<p></p>
	            </div>
	            <div class="tab-pane fade" id="tab3a">
	              <button class="btn btn-warning" type="button">按讚</button>
	              <p></p>
	            </div>
	        	</div>
	        </div>

	        <div class="input-append">
					  <input class="span6" id="word-search" type="text">
					  <button class="btn btn-warning" type="button">用關鍵詞過濾</button>
					</div>
					<p></p>
					<button class="btn btn-primary" type="button">開始閲讀</button>
					<p></p>
	        <div class="thumbnail">
	          <div class="caption">
	            <p>1</p>
	            <p>2</p>
	            <p>3</p>
	            <p>4</p>
	            <p>5</p>
	            <p>6</p>
	            <p>7</p>
	            <p>8</p>
	          </div>
	        </div>
	        <p></p>
	        <p>共10篇</p>
	        <div class="pagination pagination-small">
					  <ul>
					    <li><a href="#">Prev</a></li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li><a href="#">Next</a></li>
					  </ul>
					</div>

	      </div><!--/span4-->

	      <div class="span4">
	        <button type="button" class="btn btn-block btn-danger">
	        	經文應用
	        </button>
	        <p></p>
	        	<p><span class="badge badge-inverse">1</span> 檢查自己，最近對周圍的人有沒有不煩，生氣，沒有耐心？學習改變負面情緒，看看如何可以多去了解對方的痛苦，多產生憐憫的心。</p>
	        	<p><span class="badge badge-inverse">2</span> 學習改變自己的優先次序。面對挑戰，我們通常先看到困難，沒有先看見神愛的心腸。從日常生活中找出一兩件對你重要但挑戰的事。思想心中有沒有主愛的激勵做這件事？如果沒有，是不是該做調整？如果有，願不願意付上信心的代價？</p>
	        	<p><span class="badge badge-inverse">3</span> 學習改變自己的價值觀。學習用主的愛去關心和自己沒有關係，沒有好處，甚至不可愛的人。當你爲此付出，看見他們因你得福的時候，記住你心中的滋味。</p>


	        <p><a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i>若以上<font color="FFFF88">應用</font>有幫助，請按此</a></p>

	        <hr class="featurette-divider">

	        <p></p>

	        <button type="button" class="btn btn-block btn-inverse">
	        	字詞搜索
	        </button>
	        <p></p>
	        <div class="input-append">
					  <input class="span6" id="word-search" type="text">
					  <button class="btn btn-warning" type="button">搜索</button>
					  <button class="btn btn-info" type="button">範圍選擇</button>
					</div>
	        <div class="thumbnail">
	          <div class="caption">
	            <p></p>
	          </div>
	        </div>
	        <p></p>
	        <div class="well sidebar-nav">
						<img data-src="holder.js/280x600" alt="">
					</div>

	      </div><!--/span4-->
	    </div><!--/row-->
	 	</div>

  </div>

</div><!--/.fluid-container-->