
<h2>聖經經文*經文註釋</h2>
</p>
	
</p>
<hr class="featurette-divider">
<div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">
        	<div class="well sidebar-nav">
        		<button type="button" class="btn btn-large btn-block btn-primary" data-toggle="collapse" data-target="#main_theme">
  					主題：
						</button>
 
						<div id="main_theme" class="collapse in">
							<ul class="nav nav-list">
				              <li><a href="#">1 神愛的創造與人的不信</a></li>
				              <li><a href="#">2 亞伯拉罕之約與揀選</a></li>
				              <li class="active"><a href="#">3 咒詛與祝福</a></li>
				              <li><a href="#">4 曠野與得業</a></li>
				              <li><a href="#">* 小結1： 希伯來書</a></li>
				              <li><a href="#">5 以色列建國</a></li>
				              <li><a href="#">6 王國分裂</a></li>
				              <li><a href="#">7 王國滅亡</a></li>
				              <li><a href="#">8 回歸</a></li>
				              <li><a href="#">* 小結2： 兩約之間</a></li>
				              <li><a href="#">9 基督生平</a></li>
				              <li><a href="#">10 福音傳到地基</a></li>
				              <li><a href="#">11 黎明前的黑暗</a></li>
				              <li><a href="#">* 小結3： 約伯記</a></li>
				              <li><a href="#">13 新天新地</a></li>
				            </ul>
						</div>
					</div>

					<div class="well sidebar-nav">
        		<button type="button" class="btn btn-large btn-block btn-warning" data-toggle="collapse" data-target="#sub_theme">
  					分題：
						</button>
 
						<div id="sub_theme" class="collapse in">
							<ul class="nav nav-list">
				              <li><a href="#">1 神愛的創造與人的不信</a></li>
				              <li><a href="#">2 亞伯拉罕之約與揀選</a></li>
				              <li class="active"><a href="#">3 咒詛與祝福</a></li>
				              <li><a href="#">4 曠野與得業</a></li>
				              <li><a href="#">* 小結1： 希伯來書</a></li>
				              <li><a href="#">5 以色列建國</a></li>
				              <li><a href="#">6 王國分裂</a></li>
				            </ul>
						</div>
					</div>

					<div class="well sidebar-nav">
        		<button type="button" class="btn btn-large btn-block btn-success" data-toggle="collapse" data-target="#child_theme">
  					子題：
						</button>
 
						<div id="child_theme" class="collapse in">
							<ul class="nav nav-list">
				              <li><a href="#">1 神愛的創造與人的不信</a></li>
				              <li><a href="#">2 亞伯拉罕之約與揀選</a></li>
				              <li class="active"><a href="#">3 咒詛與祝福</a></li>
				              <li><a href="#">4 曠野與得業</a></li>
				              <li><a href="#">* 小結1： 希伯來書</a></li>
				              <li><a href="#">5 以色列建國</a></li>
				              <li><a href="#">6 王國分裂</a></li>
				            </ul>
						</div>
					</div>

					<div class="well sidebar-nav">
						<img data-src="holder.js/280x600" alt="">
					</div>

        </div><!--/span3-->



        <div class="span9">
          <div class="row-fluid"><!--/.3 column topic descriptions -->
            <div class="span4">
            	<img class="featurette-image pull-left" src="rails.png">
              <h3>主題式讀完整本聖經</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span-->
            <div class="span4">
              <h3>基督生平</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span4-->
            <div class="span4">
              <h3>神的愛與人的不信</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span4-->
          </div><!--/row-->
          <hr class="featurette-divider">
          <div class="row-fluid">
            <div class="span4">
              <h3>亞伯拉罕之約與揀選</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span4-->
            <div class="span4">
              <h3>咒詛與祝福</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span4-->
            <div class="span4">
              <h3>地上不完全的國</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span4-->
          </div><!--/row-->
        </div><!--/span9-->
      </div><!--/row-->

    </div><!--/.fluid-container-->