<div class="hero-unit">


	<h2>Welcome to a 
	Theme Based Bible Reading!</h2>

	<h2>歡迎來到聖經合部分題</h2>

	<p><%=link_to "新人註冊", new_user_registration_path, class: "btn btn-large btn-block btn-primary" %> 你可以享有各樣個人讀經的功能，建立分享小組。 </p>
	<p>直接開始<%=link_to "書卷讀經", book_verse_path, class: "btn btn-large btn-block btn-primary" %>或者
	<%=link_to "主題讀經", topic_verse_path, class: "btn btn-large btn-block btn-primary" %>
	</p>

</div>
