
<h2>主題介紹:</h2>
	<ul>
		<li><p>Are you frustrated in bible reading?</p> </li>
		<li><p>Overwhelemd by so much background in history and culture of the Israel people? </p> </li>
	</ul>
</p>
	A theme based Bible reading is now designed to make your reading enjoyable and productive.
	The entire bible is organized into a coherent story of 12 themes. 
</p>
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  	Hello
  </ul>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Goals
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  	Hello
  </ul>
</div>

<div class="btn-group">
  <button class="btn">Left</button>
  <button class="btn">Middle</button>
  <button class="btn">Right</button>
</div>

<hr>

<div class="row-fluid">
  <div class="span12">Top Row - 
			诗篇73-12
			1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
			诗篇39
			1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
			诗篇141
			3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
			诗篇142
			6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。

			<hr>

    <div class="row-fluid">
      <div class="span6"> Second Row Left
				诗篇73-6
				1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
				诗篇39
				1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
				诗篇141
				3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
				诗篇142
				6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。

				<hr>

        <div class="row-fluid">
          <div class="span6">Row below Second Row - 诗篇73-6a
						1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
						诗篇39
						1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
						诗篇141
						3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
						诗篇142
						6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。

						<hr>
					</div>

          <div class="span6">Row below Second Row - 诗篇73-6b
						1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
						诗篇39
						1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
						诗篇141
						3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
						诗篇142
						6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。

						<hr>
					</div>
        </div>
      </div>
      <div class="span6"><p>Second Row Right: 诗篇73
				1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
				诗篇39
				1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
				诗篇141
				3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
				诗篇142
				6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>

				<p>诗篇73-6
				1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
				诗篇39
				1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
				诗篇141
				3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
				诗篇142
				6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>


				<p>诗篇73-6
				1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。
				诗篇39
				1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。
				诗篇141
				3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。
				诗篇142
				6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>


				<hr>
			</div>

    </div>
  </div>
</div>