
<h2>歡迎來到主題式讀經</h2>
<p>
	在這今天快速腳步的世代，人們的時間不夠用。許多孩子見不到忙碌工作的父親，許多夫妻沒有時間説話，隔壁的鄰居不知道是誰，上網的速度愈來愈快，但人活的壓力愈來愈大，愈來愈不知道生命是什麼。雖然網路上又許多信息，但人的精神的内涵愈來愈貧乏，需要愈來愈刺激勁爆的新聞八卦，常常被色情賭博網站所捆綁而無法脫離，網絡上陌生的朋友取代親近的家人。所帶來的結果是迷失的下一代，婚姻觀念的扭曲，健康家庭的瓦解，和因精神疾病帶來傷害家庭社會的事件不斷增加。
</p>
<p>
	聖經66卷書，是神寶貴的話語，能照亮我們的生命，指引我們人生正確的方向。更重要的聖經幫助我們認識智慧和愛的源頭救主耶穌。祂救我們脫離罪惡的捆綁，得以進入他榮耀與慈愛的國度裏。祂在軟弱時能給我們力量和醫治，祂的愛不離不棄，祂賜的福不會先甜后苦。
</p>
	許多人想好好讀懂聖經，可是常常因爲歷史，地理，翻譯，等各樣問題而不能完成。鑒于聖經是這樣寶貴的書，我們將整本聖經用主題的方式展開，將所有聖經書卷根據時間和情節重新整理成爲深動，感人，有趣，有關聯主題的書。如此讀者在閲讀時就不會迷失在聖經的大海裏，反而能有更深的領受。需要注意的是，雖然我們把聖經按著主題做了閲讀次序的整理，這些整理基本上仍然是以書卷為單位，以避免斷章的問題。
<p>
</p>

<hr class="featurette-divider">
<div class="container-fluid">
  <div class="row-fluid">

  <div class="span3">
  	<div class="well sidebar-nav">
  		<button type="button" class="btn btn-large btn-block btn-primary">
			主題式讀經：
			</button>

			<div>
				<ul class="nav nav-list">
          <li><a href="#">1 神愛的創造與人的不信</a></li>
          <li><a href="#">2 亞伯拉罕之約與揀選</a></li>
          <li><a href="#">3 捆綁與自由</a></li>
          <li><a href="#">4 曠野與得業</a></li>
          <li class="active"><a href="#">小結1： 希伯來書</a></li>
          <li><a href="#">5 王國建立</a></li>
          <li><a href="#">6 王國分裂</a></li>
          <li><a href="#">7 王國滅亡</a></li>
          <li><a href="#">8 百姓回歸</a></li>
          <li class="active"><a href="#">小結2： 兩約之間</a></li>
          <li><a href="#">9 基督永遠的囯</a></li>
          <li><a href="#">10 福音傳到地極</a></li>
          <li><a href="#">11 黎明前的黑暗</a></li>
          <li class="active"><a href="#">小結3： 約伯記</a></li>
          <li><a href="#">12 新天新地</a></li>
        </ul>
			</div>
		</div>

		<div class="well sidebar-nav">
  		<button type="button" class="btn btn-large btn-block btn-warning">
			其它讀經主題：
			</button>

			<div>
				<ul class="nav nav-list">
	        <li><a href="#">基督生平：福音和參</a></li>
	        <li><a href="#">祭司的國度</a></li>
	        <li><a href="#">以色列歷史</a></li>
	        <li><a href="#">雅歌</a></li>
	        <li><a href="#">希伯來書</a></li>
	        <li><a href="#">箴言</a></li>
	        <li><a href="#">約伯記</a></li>
	        <li><a href="#">初代教會</a></li>
	        <li><a href="#">保儸行蹤</a></li>
	        <li><a href="#">住在基督裏</a></li>
	        <li><a href="#">打美好的仗</a></li>
	        <li><a href="#">教會治理</a></li>
	        <li><a href="#">啓示錄與末世預言</a></li>
	       </ul>
			</div>
		</div>

		<div class="well sidebar-nav">
			<img data-src="holder.js/280x600" alt="">
		</div>

  </div><!--/span3-->

  <div class="span9">
  	<div class="row-fluid">
      <ul class="thumbnails">

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>整本聖經</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。 诗篇142 6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>基督生平</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 </p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
          <div class="thumbnail">
            <div class="caption">
              <h3>祭司的國度</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 </p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>以色列歷史</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。 诗篇142 6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

      </ul>

    </div><!--/row-->

		<hr class="featurette-divider">

    <div class="row-fluid"><!--/.3 column topic descriptions -->
			<ul class="thumbnails">

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>雅歌</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>希伯來書</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/250x600" alt="">
            <div class="caption">
              <p><a href="#" class="btn btn-info">更多了解>></a></p> 
            </div>
          </div>
        </li>

      </ul>
    </div><!--/row-->

    <hr class="featurette-divider">

    <div class="row-fluid">
			<ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>咒詛與祝福</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>住在基督裏</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>
        
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/250x600" alt="">
            <div class="caption">
              <p><a href="#" class="btn btn-info">更多了解>></a></p> 
            </div>
          </div>
        </li>
      </ul>
    </div><!--/row-->、

  </div><!--/span9-->
</div><!--/row-->

</div><!--/.fluid-container-->