
<h2>歡迎來到主題式讀經</h2>
<p>
	選擇有興趣的主題，點擊進入，就可以開始閲讀。如果你是會員，請先登錄，maxBibleReader就會從上次你讀到的地方繼續開始。
</p>

<hr class="featurette-divider">
<div class="container-fluid">
  <div class="row-fluid">

  <div class="span3">
  	<div class="well sidebar-nav">

      <button type="button" class="btn btn-block btn-primary">
      <h3>整本聖經閲讀：</h3>
      </button>
      <p></p>

      <table class="table table-hover">

        <tbody>
          <tr>
            <td><span class="badge badge-warning">1</span></td>
            <td><a href="#"><font color="#000000">神愛的創造與人的不信</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">2</span></td>
            <td><a href="#"><font color="#000000">亞伯拉罕之約與神的揀選</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">3</span></td>
            <td><a href="#"><font color="#000000">咒詛與祝福</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">4</span></td>
            <td><a href="#"><font color="#000000">曠野與得業</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-inverse">小結1</span></td>
            <td><a href="#"><font color="#000000">更美之約：希伯來書</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">5</span></td>
            <td><a href="#"><font color="#000000">王國建立</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">6</span></td>
            <td><a href="#"><font color="#000000">王國分裂</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">7</span></td>
            <td><a href="#"><font color="#000000">王國滅亡</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">8</span></td>
            <td><a href="#"><font color="#000000">百姓回歸</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-inverse">小結2</span></td>
            <td><a href="#"><font color="#000000">兩約之間</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">9</span></td>
            <td><a href="#"><font color="#000000">道成肉身</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">10</span></td>
            <td><a href="#"><font color="#000000">福音傳到地極</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">11</span></td>
            <td><a href="#"><font color="#000000">黎明前的黑暗</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-inverse">小結3</span></td>
            <td><a href="#"><font color="#000000">面對苦難：約伯記</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">12</span></td>
            <td><a href="#"><font color="#000000">新天新地</font></a></td>
          </tr>
        </tbody>
      </table>
      
    </div>

		<div class="well sidebar-nav">
  		<button type="button" class="btn btn-block btn-primary">
			<h3>小範圍聖經閲讀：</h3>
			</button>

      <table class="table table-hover">

        <tbody>
          <tr>
            <td><span class="badge badge-warning">1</span></td>
            <td><a href="#"><font color="#000000">天國世界觀</font></a></td>
          </tr
          <tr>
            <td><span class="badge badge-warning">2</span></td>
            <td><a href="#"><font color="#000000">因信稱義</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">3</span></td>
            <td><a href="#"><font color="#000000">基督生平：四福音和參</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">4</span></td>
            <td><a href="#"><font color="#000000">從亞伯拉罕到摩西</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">5</span></td>
            <td><a href="#"><font color="#000000">以色列歷史</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">6</span></td>
            <td><a href="#"><font color="#000000">更美的約</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">7</span></td>
            <td><a href="#"><font color="#000000">約伯記</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">8</span></td>
            <td><a href="#"><font color="#000000">雅歌</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">9</span></td>
            <td><a href="#"><font color="#000000">箴言</font></a></td>
          </tr>
          <tr>
          <tr>
            <td><span class="badge badge-warning">10</span></td>
            <td><a href="#"><font color="#000000">初代教會</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">11</span></td>
            <td><a href="#"><font color="#000000">住在基督裏</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">12</span></td>
            <td><a href="#"><font color="#000000">打美好的仗</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">13</span></td>
            <td><a href="#"><font color="#000000">教會治理</font></a></td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">14</span></td>
            <td><a href="#"><font color="#000000">啓示錄與末世預言</font></a></td>
          </tr>
        </tbody>
      </table>
		</div>

		<div class="well sidebar-nav">
			<img data-src="holder.js/280x600" alt="">
		</div>

  </div><!--/span3-->

  <div class="span9">
  	<div class="row-fluid">
      <ul class="thumbnails">

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>整本聖經</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。 诗篇142 6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>基督生平</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 </p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
          <div class="thumbnail">
            <div class="caption">
              <h3>祭司的國度</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 </p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>以色列歷史</h3>
              <p>内容介紹：诗篇73-6 1 （亚萨的诗。）神实在恩待以色列那些清心的人。 2 至于我，我的脚几乎失闪。我的脚险些滑跌。 诗篇39 1 （大卫的诗，交与伶长耶杜顿。）我曾说，我要谨慎我的言行，免得我舌头犯罪。恶人在我面前的时候，我要用嚼环勒住我的口。 诗篇141 3 耶和华阿，求你禁止我的口，把守我的嘴。 4 求你不叫我的心，偏向邪恶，以致我和作孽的人同行恶事。也不叫我吃他们的美食。 诗篇142 6 求你侧耳听我的呼求，因我落到极卑之地。求你救我脱离逼迫我的人，因为他们比我强盛。 7 求你领我出离被囚之地，我好称赞你的名。义人必环绕我，因为你是用厚恩待我。</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

      </ul>

    </div><!--/row-->

		<hr class="featurette-divider">

    <div class="row-fluid"><!--/.3 column topic descriptions -->
			<ul class="thumbnails">

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>雅歌</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>希伯來書</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/250x600" alt="">
            <div class="caption">
              <p><a href="#" class="btn btn-info">更多了解>></a></p> 
            </div>
          </div>
        </li>

      </ul>
    </div><!--/row-->

    <hr class="featurette-divider">

    <div class="row-fluid">
			<ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>咒詛與祝福</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <div class="caption">
              <h3>住在基督裏</h3>
              <p>内容介紹：</p>
              <p><a href="#" class="btn btn-primary">開始閲讀>></a></p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/250x600" alt="">
            <div class="caption">
              <p><a href="#" class="btn btn-info">更多了解>></a></p> 
            </div>
          </div>
        </li>
      </ul>
    </div><!--/row-->、

  </div><!--/span9-->
</div><!--/row-->

</div><!--/.fluid-container-->