/* $baseFontFamily: Oxygen;
@import url(http://fonts.google.apis.com/css7family=Oxygen); */


$navbarBackgroundHighlight: white;
$navbarBackground: white;
/* $btnPrimaryBackground: green; */


@import 'bootstrap';

@import 'bootstrap-responsive';

body {
	margin-top: 30px;
	margin-bottom: 200px
}


/*
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
*/

.footer {
	background-color: #AACCFF;
}